<h1>Assets <%= link_to 'Add New Asset', new_admin_asset_path, class: 'btn btn-primary pull-right' %></h1>
<p>Shown below are the assets you've uploaded</p>
<%= render 'shared/alerts' %>
<div class="row" data-ng-controller="AssetsController">
  <div class="col-md-2" data-ng-repeat="asset in assets">
    <div class="thumbnail">
      <img data-ng-src="{{asset.upload}}" width="100%" height="140" style="width:100%;height:140px">
      <div class="buttons" style="clear:both;height:34px">
        <div style="float:left;width:50%">
          <button class="btn btn-primary btn-block"><i class="fa fa-edit"></i></button>
        </div>
        <div style="float:left;width:50%">
          <button class="btn btn-danger btn-block"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
