<div class="nested-fields">
  <div class="field row">
    <div class="col-md-10"><%= f.text_field :value, class: 'form-control' %></div>
    <div class="col-md-2"><%= link_to_remove_association "Remove Flag", f, class: 'btn btn-primary btn-block' %></div>
  </div>
  <br/>
</div>
